/* base style */
.d-inline-block{
	display: inline-block;
}
/* 
  index.html
*/
/* navigation */
.content{
    width: 100%;
    background-color: #00afaf;
	padding: 10px;
}
.logo{
	vertical-align: middle;
	margin-right: 30px;
}
.nav-a{
	vertical-align: middle;
	padding-right: 15px;
}
/* conteiner */
.container{
	width: 1170px;
	margin: 0 auto;
}
.banner{
	display: block;
}
.left{
	width: 570px;
	height: 225px;
	background-color: red;
	margin-right: 30px;
}
.right{
	width: 570px;
	height: 225px;
	background-color: red;
}

/* footer */
.footer{
	width: 1170px;
	margin: 0 auto;
}